*.iml
.gradle
gradlew.bat
gradle-wrapper.jar
gradlew
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/vcs.xml
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/res
gradle.properties
gradle/wrapper
